<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

	<?define RTMProductVersion="1.0.0" ?>
	<?define ProductVersion="1.0.2" ?>
	<?define UpgradeCode="{49A9E0B0-AF77-4983-843C-8BA7F29CF9EA}"?>

	<Package
	  Name="J2534 Debugging Tool"
	  Language="1033"
	  Version="$(var.ProductVersion)"
	  Manufacturer="Drew Technologies, Inc."
	  UpgradeCode="$(var.UpgradeCode)"
	  InstallerVersion="200"
	  Compressed="yes">

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<MajorUpgrade
		  AllowDowngrades="no"
		  DowngradeErrorMessage="Newer version already installed."
		  Schedule="afterInstallFinalize" />

		<StandardDirectory Id="ProgramFilesFolder">
			<Directory Id="DrewTech32Folder" Name="Drew Technologies, Inc">
				<Directory Id="INSTALLLOCATION" Name="J2534">
					<Directory Id="DriverComponent" Name="j2534-logger">

						<!-- SAE J2534-1 DLL -->
						<Component Id="J2534DLLComponent" Guid="{3556670B-525A-4dac-96C0-00B144B0DD33}" Bitness="always32">

							<File Id="ptshim32.dll" Name="ptshim32.dll" Source="..\$(var.Configuration)\ptshim32.dll" Checksum="yes" />

							<RegistryKey Root="HKLM" Key="SOFTWARE\PassThruSupport.04.04\Drew Technologies Inc. - j2534-logger">
								<!-- Add registry strings for the product -->
								<RegistryValue Id="RegVendor" Name="Vendor" Action="write" Type="string" Value="Drew Technologies Inc." />
								<RegistryValue Id="RegName" Name="Name" Action="write" Type="string" Value="j2534-logger" />
								<RegistryValue Id="RegConfigApplication" Name="ConfigApplication" Action="write" Type="string" Value="[DriverComponent]NeedConfigApp.exe" />
								<RegistryValue Id="RegFunctionLibrary" Name="FunctionLibrary" Action="write" Type="string" KeyPath="yes" Value="[DriverComponent]ptshim32.dll" />

								<!-- Add registry dword flags for each network protocol -->
								<RegistryValue Id="RegFlagCAN" Name="CAN" Action="write" Type="integer" Value="1" />
								<RegistryValue Id="RegFlagISO15765" Name="ISO15765" Action="write" Type="integer" Value="1" />
								<RegistryValue Id="RegFlagJ1850PWM" Name="J1850PWM" Action="write" Type="integer" Value="1" />
								<RegistryValue Id="RegFlagJ1850VPW" Name="J1850VPW" Action="write" Type="integer" Value="1" />
								<RegistryValue Id="RegFlagISO9141" Name="ISO9141" Action="write" Type="integer" Value="1" />
								<RegistryValue Id="RegFlagISO14230" Name="ISO14230" Action="write" Type="integer" Value="1" />
								<RegistryValue Id="RegFlagSCIAENGINE" Name="SCI_A_ENGINE" Action="write" Type="integer" Value="1" />
								<RegistryValue Id="RegFlagSCIATRANS" Name="SCI_A_TRANS" Action="write" Type="integer" Value="1" />
								<RegistryValue Id="RegFlagSCIBENGINE" Name="SCI_B_ENGINE" Action="write" Type="integer" Value="1" />
								<RegistryValue Id="RegFlagSCIBTRANS" Name="SCI_B_TRANS" Action="write" Type="integer" Value="1" />
							</RegistryKey>
						</Component>

					</Directory>
				</Directory>
			</Directory>
		</StandardDirectory>

		<Feature Id="ProductFeature" Title="installer" Level="1">
			<ComponentRef Id="J2534DLLComponent" />
		</Feature>

		<!-- In Control Panel > Add or Remove Programs, applications can have various
        entries like phone number and Internet contact information under the Click
        here for support information entry -->
		<Property Id="ARPCOMMENTS" Value="Utility to create J2534 debug logs." />
		<Property Id="ARPCONTACT" Value="sales: sales@drewtech.com&#13;&#10;support: support@drewtech.com&#13;&#10;Phone: (734) 222-5228&#13;&#10;Fax: (734) 222-5008&#13;&#10;Mail:&#13;&#10;3915 Research Park Dr&#13;&#10;Suite A10&#13;&#10;Ann Arbor, MI 48108" />
		<Property Id="ARPHELPLINK" Value="http://code.google.com/p/j2534-logger/" />
		<Property Id="ARPURLINFOABOUT" Value="http://code.google.com/p/j2534-logger/" />
		<Property Id="ARPURLUPDATEINFO" Value="http://code.google.com/p/j2534-logger/" />
		<Property Id="ARPHELPTELEPHONE" Value="(734)222-5228" />

		<ui:WixUI Id="WixUI_Minimal" />

		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
	</Package>
</Wix>
